.container{
    width: 800px;
    height: 600px;
    position: relative;
    left: 0;
    top: 0;    
    overflow: hidden;
    
}

.char_run{
    width: 128px;
    height: 128px;
    background: url('./img/char/char_mage_run.png');
    animation: char_run 1s steps(8) infinite;
    -moz-animation: char_run 1s steps(8) infinite;
    -webkit-animation: char_run 1s steps(8) infinite;
    z-index: 2;
    transform : scale(2);
    position: absolute;
    margin-left: 100px;
    margin-top: 400px;
    
}

.char_death{
    width: 128px;
    height: 128px;
    background: url('./img/char/char_mage_death.png');
    animation: char_death 1.5s steps(11) 1 normal forwards;    
    -moz-animation: char_death 1.5s steps(11) 1 forwards;
    -webkit-animation: char_death 1.5s steps(11) 1 forwards;
    z-index: 2;
    transform : scale(2);
    position: absolute;
    margin-left: 100px;
    margin-top: 400px;
    
   
    /*
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    
    -moz-animation-direction: normal;
    -moz-animation-fill-mode: forwards ; */
}

.char_jump{
    width: 128px;
    height: 128px;
    background: url('./img/char/char_mage_jump.png');
    animation: char_jump 1.3s steps(12) 1;
    -moz-animation: char_jump 1.3s steps(12) 1;
    -webkit-animation: char_jump 1.3s steps(12) 1;
    z-index: 2;
    transform : scale(2);
    position: absolute;
    margin-left: 100px;
    margin-top: 400px;   
}

.mob1_run{
    width: 128px;
    height: 128px;
    background: url('./img/char/mob1_run.png');
    animation: mob1_run 2s steps(12) infinite;
    -moz-animation: mob1_run 2s steps(12) infinite;
    -webkit-animation: mob1_run 2s steps(12) infinite;
    z-index: 2;
    transform : scale(1.5);
    position: absolute;
    margin-left: 570px;
    margin-top: 440px;
    
}

.mob2_run{
    width: 128px;
    height: 128px;
    background: url('./img/char/mob2_run.png');
    position: absolute;
    margin-left: 570px;
    margin-top: 440px;
    z-index: 2;
}

.coin2{
    width: 70px;
    height: 70px;
    background: url('./img/coins/coin_70_70.png');
    animation: coin2 1s steps(6) infinite;
    -moz-animation: coin2 1s steps(6) infinite;
    -webkit-animation: coin2 1s steps(6) infinite;
    z-index: 2;
    transform : scale(0.7);
    position: absolute;
    margin-left: 350px;
    margin-top: 300px; 
}

#cartel_loose{
    width: 340px;
    height: 247px;
    background: url('./img/carteles/cartel_loose.png');
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    z-index: 11;
    visibility: hidden;
}

#cartel_win{
    width: 340px;
    height: 247px;
    background: url('./img/carteles/cartel_win_2.png');
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    z-index: 11;
    visibility: hidden;
}

.layer{
   min-height: 500px; 
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-repeat: repeat-x;
   background-size: cover;
   animation-name: scroll;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   z-index: -1;
   animation-play-state: running; /* permite pausar la animacion */
}

.layer-6{
    background-image: url("./img/background/11.png");
    animation-duration: 35s;    
}

.layer-5{
    background-image: url("./img/background/12.png");
    animation-duration: 25s;
}


.layer-4{
    background-image: url("./img/background/14.png");
    animation-duration: 20s;
}

.layer-3{
    background-image: url("./img/background/13.png");
    animation-duration: 15s;
}

.layer-2{
    background-image: url("./img/background/2.png");
    animation-duration: 6s;
}

.layer-1{
    background-image: url("./img/background/1.png");
    animation-duration: 1s;
    z-index: 10;
}


/* Animacion del background */
@keyframes scroll {
    0% {background-position-x: 0px;}
    100%{background-position-x: -800px;}
}

/* Animacion Correr del personaje */
@keyframes char_run{
    0%{background-position: 0px;}
    100%{background-position: -1024px;}   
}

/* Animacion Morir del personaje */
@keyframes char_death{
    0%{background-position: 0px; opacity: 1;}
    99%{opacity: .8;}
    100%{background-position: -1408px;opacity: 0;}   
}

/* Animacion Saltar del personaje */
@keyframes char_jump{
    0%{background-position: 0px; margin-top: 390px;}
    50%{margin-top: 150px;}
    100%{background-position: -1536px; margin-top: 390px;}       
}

@keyframes mob1_run{
    0%{background-position: 0px;}
    100%{background-position: -1538px;}
}

@keyframes coin2{
    0%{background-position: 0px;}
    100%{background-position: -420px;}
}


/* @-webkit-keyframes char_death{
    0%{background-position: 0px;}
    100%{background-position: -1280px;}   
}

@-moz-keyframes char_death{
    0%{background-position: 0px;}
    100%{background-position: -1280px;}   
} */

/* @-moz-keyframes char_run{
    0%{background-position: 0px;}
    100%{background-position: -1024px;}   
}

@-webkit-keyframes char_run{
    0%{background-position: 0px;}
    100%{background-position: -1024px;}   
} */

