.container{
    width: 800px;
    height: 600px;
    position: absolute;
    left: 0;
    top: 0;    
    overflow: hidden;
}

.char_run{
    width: 128px;
    height: 128px;
    background: url('./img/char/char_run.png');
    animation: char_run 1s steps(8) infinite;
    -moz-animation: char_run 1s steps(8) infinite;
    -webkit-animation: char_run 1s steps(8) infinite;
    z-index: 2;
    scale: 2;
    margin-left: 150px;
    margin-top: 390px;
    
}

.char_death{
    width: 128px;
    height: 128px;
    background: url('./img/char/char_death.png');
    animation: char_death 1.5s steps(10) 1 forwards;
    -moz-animation: char_death 1.5s steps(10) 1 forwards;
    -webkit-animation: char_death 1.5s steps(10) 1 forwards;
    z-index: 2;
    scale: 2;
    margin-left: 150px;
    margin-top: 390px;
    
   /*  animation-direction: normal;
    animation-fill-mode: forwards;
    
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    
    -moz-animation-direction: normal;
    -moz-animation-fill-mode: forwards ; */
}

.char_jump{
    width: 128px;
    height: 128px;
    background: url('./img/char/char_jump.png');
    animation: char_jump 1.3s steps(7) 1;
    -moz-animation: char_jump 1.3s steps(7) 1;
    -webkit-animation: char_jump 1.3s steps(7) 1;
    z-index: 2;
    scale: 2;
    margin-left: 150px;
    margin-top: 390px;   
}

.layer{
   min-height: 500px; 
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-repeat: repeat-x;
   background-size: cover;
   animation-name: scroll;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   z-index: -1;
   animation-play-state: running; /* permite pausar la animacion */
}

.layer-5{
    background-image: url("./img/background/5.png");
    animation-duration: 20s;    
}

.layer-4{
    background-image: url("./img/background/4.png");
    animation-duration: 15s;
}

.layer-3{
    background-image: url("./img/background/3.png");
    animation-duration: 10s;
}

.layer-2{
    background-image: url("./img/background/2.png");
    animation-duration: 8s;
}

.layer-1{
    background-image: url("./img/background/1.png");
    animation-duration: 2s;
    z-index: 10;
}

/* Animacion del background */
@keyframes scroll {
    0% {background-position-x: 0px;}
    100%{background-position-x: -800px;}
}

/* Animacion Correr del personaje */
@keyframes char_run{
    0%{background-position: 0px;}
    100%{background-position: -1024px;}   
}

/* Animacion Morir del personaje */
@keyframes char_death{
    0%{background-position: 0px;}
    100%{background-position: -1280px;}   
}

/* Animacion Saltar del personaje */
@keyframes char_jump{
    0%{background-position: 0px; margin-top: 390px;}
    50%{margin-top: 150px;}
    100%{background-position: -896px; margin-top: 390px;}       
}


/* @-webkit-keyframes char_death{
    0%{background-position: 0px;}
    100%{background-position: -1280px;}   
}

@-moz-keyframes char_death{
    0%{background-position: 0px;}
    100%{background-position: -1280px;}   
} */

/* @-moz-keyframes char_run{
    0%{background-position: 0px;}
    100%{background-position: -1024px;}   
}

@-webkit-keyframes char_run{
    0%{background-position: 0px;}
    100%{background-position: -1024px;}   
} */